<a href="https://colab.research.google.com/github/fzlfade/Praktikum-PBO/blob/main/Responsi/Responsi_Big_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.3.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 2.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.3-py2.py3-none-any.whl size=317840625 sha256=8cf33f75c3714473fc9dc56c92d943787a29fe2f08020ff148a034c49a9861da
  Stored in directory: /root/.cache/pip/wheels/1b/3a/92/28b93e2fbfdbb07509ca4d6f50c5e407f48dce4ddbda69a4ab
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.3

In [41]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F


spark = SparkSession.builder.appName('Responsi').getOrCreate()

data = [('P001', 'Product A', 'Electronics',10,200,'2022-01-10'),
        ('P002', 'Product B', 'Electronics',30,150,'2022-03-11'),
        ('P001', 'Product C', 'Clothing',20,100,'2022-02-10'),
        ('P001', 'Product D', 'Clothing',15,120,'2022-02-12'),
        ('P001', 'Product E', 'Kitchen',25,90,'2022-04-13'),
        ('P001', 'Product F', 'Kitchen',5,300,'2022-01-14')]
columns = ['ProductID', 'ProductName', 'Category','Quantity','Price','Date']

df = spark.createDataFrame(data, schema=columns)
df.show()

#Nomor 1
df = df.withColumn('Revenue', df['Quantity'] * df['Price'])

df = df.withColumn('Month', F.date_format(F.col('Date'), 'yyyy-MM'))

result = df.groupBy('Category', 'Month') \
           .agg(F.sum('Revenue').alias('Total')) \
           .orderBy('Month', 'Category')

result.show()

#Nomor 2
maxPerCategory = df.groupBy('Category') \
                  .agg(F.max('Price').alias('PriceMax'))  \
                  .orderBy('PriceMax')
maxPerCategory.show()

#Nomor 3
# Menghitung pendapatan total untuk setiap kategori per bulan dan mengurutkan hasilnya
result = df.groupBy('Month', 'Category') \
           .agg(F.sum('Revenue').alias('TotalRevenue')) \
           .orderBy('Month', 'Category')
result.show()

+---------+-----------+-----------+--------+-----+----------+
|ProductID|ProductName|   Category|Quantity|Price|      Date|
+---------+-----------+-----------+--------+-----+----------+
|     P001|  Product A|Electronics|      10|  200|2022-01-10|
|     P002|  Product B|Electronics|      30|  150|2022-03-11|
|     P001|  Product C|   Clothing|      20|  100|2022-02-10|
|     P001|  Product D|   Clothing|      15|  120|2022-02-12|
|     P001|  Product E|    Kitchen|      25|   90|2022-04-13|
|     P001|  Product F|    Kitchen|       5|  300|2022-01-14|
+---------+-----------+-----------+--------+-----+----------+

+-----------+-------+-----+
|   Category|  Month|Total|
+-----------+-------+-----+
|Electronics|2022-01| 2000|
|    Kitchen|2022-01| 1500|
|   Clothing|2022-02| 3800|
|Electronics|2022-03| 4500|
|    Kitchen|2022-04| 2250|
+-----------+-------+-----+

+-----------+--------+
|   Category|PriceMax|
+-----------+--------+
|   Clothing|     120|
|Electronics|     200|
|    Kitchen|     300|
+-----------+--------+

+-------+-----------+------------+
|  Month|   Category|TotalRevenue|
+-------+-----------+------------+
|2022-01|Electronics|        2000|
|2022-01|    Kitchen|        1500|
|2022-02|   Clothing|        3800|
|2022-03|Electronics|        4500|
|2022-04|    Kitchen|        2250|
+-------+-----------+------------+